*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.conteudo{
    margin: 10vh auto;
}
nav{
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-bottom: 1px solid #000;
    padding: 10px 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
nav .container{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}
.links{
    font-weight: 600;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}
.links li{
    list-style: none;
    display: inline;
    padding: 0 20px;
}
nav a{
    text-decoration: none;
    color: #000;
}
#retangulos{
    margin: 10vh auto;
    width: 80%;
    height: 100%;
    border: 1px solid #000;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 30px;
    row-gap: 50px;
}
.retangulo{
    width: 200px;
    height: 300px;
    background-color: aqua;
    font-size: 3em;
    text-align: center;
}
/* BOTOES */
button {
    position: fixed;
    font-size: 2em;
    height: 50px;
    width: 50px;
    right: 10px;
    bottom: 20px;
    color: rgb(255, 255, 255);
    border-radius: 30%;
    border: none;
}
#add {
    right: 70px;
    background-color: green;
}
#sub {
    background-color: red;
}
#add:hover {
    background-color: rgb(0, 58, 0);
    cursor: pointer;
    transition: .5s;
}
#sub:hover {
    background-color: rgb(105, 0, 0);
    cursor: pointer;
    transition: .5s;
}


